.section {
  margin: 100px auto 0;
  max-width: 1400px;

  display: grid;
  grid-template-columns: repeat(100, 14px);
  grid-template-rows: repeat(100, 8px);

  @media screen and (max-width: 1600px) {
    grid-template-columns: repeat(100, 12px);
    grid-template-rows: repeat(100, 8px);
  }
  @media screen and (max-width: 1400px) {
    margin-top: 60px;
    grid-template-columns: repeat(100, 8px);
    grid-template-rows: repeat(100, 6px);
  }
  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first_section {
    grid-column: 1 / 55;
    grid-row: 1 / 40;

    @media screen and (max-width: 900px) {
      height: 240px;
      width: 400px;
    }

    display: flex;
    flex-direction: column;
    padding-right: 150px;

    .primary_title {
      font-size: 72px;
      font-weight: 500;
      letter-spacing: 0.05em;
      line-height: 87.77px;
      color: #3A3A3A;
      margin-bottom: 20px;

      @media screen and (max-width: 1600px) {
        font-size: 46px;
        letter-spacing: 0.04em;
        line-height: 50px;
      }
      @media screen and (max-width: 1400px) {
        font-size: 34px;
        letter-spacing: 0.03em;
        line-height: 36px;
      }
    }
  }

  .second_section {
    grid-column: 1 / 55;
    grid-row: 40 / 101;

    position: relative;

    @media screen and (max-width: 900px) {
      height: 300px;
      width: 400px;
    }
  }

  .third_section {
    grid-column: 55 / 101;
    grid-row: 1 / 60;

    position: relative;

    @media screen and (max-width: 900px) {
      height: 300px;
      width: 400px;
    }
  }

  .fourth_section {
    grid-column: 55 / 101;
    grid-row: 60 / 101;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and (max-width: 900px) {
      height: 240px;
      width: 400px;
    }
  }
}

.offer_card {
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  margin: 0 auto auto 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 1400px) {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
  }

  &.first_card {
    background-color: #f5ddc3;
    color: rgba(58, 58, 58, .8);
    padding: 30px 150px 30px 30px;

    @media screen and (max-width: 1400px) {
      padding: 20px;
    }
  }

  &.second_card {
    background-color: #be885e;
    color: #FFF;
    padding: 30px 200px 30px 30px;

    @media screen and (max-width: 1400px) {
      padding: 20px;
    }
  }

  .text_one {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;

    @media screen and (max-width: 1400px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .text_two {
    font-size: 55px;
    line-height: 67px;
    font-weight: 700;

    @media screen and (max-width: 1400px) {
      font-size: 40px;
      line-height: 46px;
    }
  }

  .text_three {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-decoration-line: underline;
    transition: all .2s ease;

    @media screen and (max-width: 1400px) {
      font-size: 14px;
      line-height: 17px;
    }

    &:hover {
      cursor: pointer;
      transform: translateY(2px);
    }
  }
}

.image {
  position: absolute;
  @media screen and (max-width: 1400px) {
    display: none;
  }

  &.first_image {
    bottom: 0;
    right: -150px;
  }

  &.second_image {
    bottom: -80px;
    right: -120px;
  }
}

.description {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  color: #3a3a3a80;

  @media screen and (max-width: 1400px) {
    font-size: 14px;
  }
}

.subscribe_form {
  height: calc(100% - 80px);
  width: calc(100% - 80px);
  border: 1px solid #b09e8099;

  padding: 20px 100px 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 1400px) {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 18px;
  }

  .subscribe_text {

    .secondary_title {
      font-size: 48px;
      font-weight: 500;
      letter-spacing: 0.05em;
      line-height: 120%;
      color: #3A3A3A;
      margin-bottom: 10px;

      @media screen and (max-width: 1400px) {
        font-size: 32px;
        letter-spacing: 0.04em;
        margin-bottom: 8px;
      }
    }
  }

  .input_container {
    border-bottom: 1px solid #b09e8099;
    padding-left: 10px;
    display: flex;

    @media screen and (max-width: 1400px) {
      padding-left: 6px;
    }

    .input {
      flex-grow: 1;
      color: #3a3a3a4d;
      font-size: 18px;
      line-height: 120%;
      font-weight: 400;

      @media screen and (max-width: 1400px) {
        font-size: 14px;
      }

      &::placeholder {
        color: #3a3a3a4d;
        font-size: 18px;
        line-height: 120%;
        font-weight: 400;
      }
    }

    .button {
      padding: 10px 16px;
      color: #b09e80;
      font-family: 400;
      font-size: 18px;
      line-height: 120%;
      transition: all .2s ease;

      @media screen and (max-width: 1400px) {
        font-size: 14px;
      }

      &:hover {
        background-color: #b09e80;
        color: #fff;
      }
    }
  }
}